* {
  box-sizing: border-box;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  text-align: center;
}

.game-frame {
  display: inline-block;
  position: relative;
  padding: 2em 2em 6em 2em;
  background-color: #999;
  border-radius: 1em;
  box-shadow: 0 3px 8px #444;
}

.canvas-wrap {
  padding: 0 5px;
  background-color: #eee;
  border-radius: 3px;
  border: 1px solid #999;
  box-shadow: inset 0 0 4px #666;
}

.game-tips {
  position: absolute;
  left: 2em;
  bottom: 2em;
  right: 2em;
  text-align: left;
  font-size: .9em;
  padding: 15px;
  height: 5em;
}

.game-tips p {
  margin: 0;
}

.game-tips p:before {
  content: "› ";
}

.game-tips p:after {
  content: ";";
}